graph {
  fill-mode: plain;
  padding: 60px;
  fill-color: white;
}

node {
  shape: circle;
  size: 8px;
  fill-color: rgba(20, 20, 80, 20);
  fill-mode: plain;
  stroke-mode: none;
  text-visibility-mode: zoom-range;
  text-visibility: 0, 0.9;
}

edge {
  size: 8px;
  fill-mode: plain;
  fill-color: rgba(20, 20, 80, 30);
  stroke-mode: none;
  arrow-size: 24px, 6px;
  shape: cubic-curve;
}

sprite {
  shape: box;
  size: 12px, 6px;
  fill-mode: plain;
  stroke-mode: none;
  /* Rotate the sprite based on the direction of the edge */
  sprite-orientation: to;
}
